<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.doongie.test.ajax.dao.BookingDAO">
  
  	<select id="selectBooking" resultType="com.doongie.test.ajax.model.Booking">
  	
  		SELECT 
  			`name`
  			, `date`
  			, `day`
  			, `headCount`
  			, `phoneNumber`
  			, `state`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`booking`
  		ORDER BY
  			`id` DESC

  	</select>
  	
  	<insert id="insertBooking" parameterType="map">
  		INSERT INTO
  			`booking`
  		(
  			`name`
  			, `date`
  			, `day`
  			, `headCount`
  			, `phoneNumber`
  			, `state`
  			, `createdAt`
  			, `updatedAt`
  		)
  		VALUE
  		(
  			#{name}
  			, #{date}
    		, #{day}
    		, #{headCount}
    		, #{phoneNumber}	
    		, #{state}
    		, now()
    		, now()
  		)
  		
  		
  	</insert>
  	
  	<delete id="deleteBooking" parameterType="int">
  		DELETE FROM
  			`booking`
  		WHERE
  			`id` = #{id}
  	
  	</delete>
  	
  	<select id="selectOneBooking" parameterType="map" resultType="com.doongie.test.ajax.model.Booking">
    	SELECT 
  			`name`
  			, `date`
  			, `day`
  			, `headCount`
  			, `phoneNumber`
  			, `state`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`booking`
  		WHERE
  			`name` = #{name}
  		AND
  			`phoneNumber` = #{phoneNumber}
  	
  	
  	</select>
  
  
  
  </mapper>